<%- include("header") -%>

<body>
    <div class="box" id="heading">
        <h1><%= title %></h1>
    </div>
    
    <div class="box">
        <p><%= errorMessage %></p>
    </div>

</body>

<%- include("footer") -%>
